<style type="text/css">
    #app_sys li {
    border-bottom: 1px solid white;
    
    }
    #downmenu li {
    border-bottom: 1px solid white;   
    }
    #app_sys a{
    color:black;
    font-weight:bold;
    font-size:20px;
    line-height:30px;
    font-family:"STXinwei";
    text-align: center;
    }
    .noactive {
    display: none;
        }
    .active {
    display: block;
        }



</style>

<div id="navsecond" class="container bg-dark">
    <!--<div id="app_sys">
    <ul id="app_link">
    <li class="cate "><a href="/html/index.asp" title="HTML 教程"><span class="text">版本信息</span></a></li>
    <li class="cate"><a href="/xhtml/index.asp" title="XHTML 教程"><span class="text">版本匹配</span></a></li>
    <li class="cate"><a href="/html5/index.asp" title="HTML 5 教程"><span class="text">版本监控</span> 5</a></li>
    </div>-->


    <ul class="navbar-nav" id="app_sys">
    <li class="nav-item" style="background: orange">
      <a class="nav-link" href="/sys_display/">版本状态</a>
    </li>
    <li class="nav-item pulldown" style="background: cyan" id="ver_info">
       <a class="nav-link">版本信息</a>
        <ul class="nav-item noactive active"  id="downmenu" >
          <li><a class="nav-link" href="/ver_repostory/" style="font-size:15px;float:center;font-family:STXinwei;">·版本库信息</a>
          <li><a class="nav-link" href="/ser_version/" style="font-size:15px;float:center;font-family:STXinwei;">·服务器信息</a>
        </ul>
    </li>
    <li class="nav-item" style="background: green">
      <a class="nav-link" href="/developing/">版本匹配</a>
    </li>
    <li class="nav-item" style="background: blue">
      <a class="nav-link" href="/ver_monitor/">版本监控</a>
    </li>
    <li class="nav-item" style="background: grey">
      <a class="nav-link" href="/developing/">版本其他</a>
    </li>
    </ul>

</div>
    <script type="text/javascript">
        $(function(){
            $('#ver_info a').bind("click", function(){
                $(this).next('ul').removeClass("active");
                $(this).next('ul').toggleClass('noactive');
                //$(this).next('ul').attr("class","active")
                
            })
        })
    </script>